<div class="container mt-5">
    <h2>Welcome, {{ userProfile.username }}!</h2><br>
    <div class="card">
        <div class="card-header">
            <h4>Your Profile</h4>
        </div>
        <div class="card-body">
            <p><strong>Username:</strong> {{ userProfile.username }}</p>
            <p><strong>Email:</strong> {{ userProfile.email }}</p>

            <button (click)="editProfile()" class="btn btn-primary">Edit Profile</button>
            <button (click)="createSurvey()" class="btn btn-info">Create Survey</button>
            <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
        </div>
    </div>
</div>
