<p class="display-4 text-center">Survey List</p>

<div class="mt-4" *ngIf="surveys.length === 0">No surveys available at the moment.</div>

<div class="card mb-4" *ngFor="let survey of surveys">
  <div class="card-body">
    <h3 class="card-title">{{ survey.surveyName }}</h3>
    
    <!-- If you have dates, consider adding them here -->
    <p class="text-muted" *ngIf="survey.startDate && survey.endDate">
      From {{ survey.startDate }} to {{ survey.endDate }}
    </p>

    <div *ngFor="let question of survey.questions">
      <p class="mt-3"><strong>Question:</strong> {{ question.text }}</p>
      <p>
        <strong>Type:</strong> 
        <span class="badge badge-primary" *ngIf="question.questiontype === 'multipleChoice'">Multiple Choice</span>
        <span class="badge badge-secondary" *ngIf="question.questiontype === 'agreeDisagree'">Agree/Disagree</span>
      </p>

      <div *ngIf="question.questiontype === 'multipleChoice'">
        <p><strong>Options:</strong></p>
        <ul>
            <li *ngFor="let option of question.options">{{ option }}</li>

        </ul>
      </div>
    </div>
  </div>
</div>
